.g {
    // width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.g--full {
    @extend .g;
    width: 1200px;
    @include responsive(mediumScreens) {
        width: 900px;
    }
    @include responsive(touchScreens) {
        width: 95%;
        margin: 0 2.5%;
    }
}

.g--section {
    @extend .g;
    width: 70%;
    // @include responsive()
    // overflow: hidden;
    @include responsive(mediumScreens) {
        width: 100%;
    }
}

.wrap {
    height: 80%;
    transform: translate(0px, 100px);
    background: #fff;
    border-radius: 10px;
    box-shadow: (rgba(black, 0.2) 0px 3px 10px);
    padding-top: 50px;
}

.wrap__text {
    width: 50%;
    margin: 0 auto;
    // margin-left: 60%;
    // margin-top: 80px;
}

.wrap__btn {
    width: 300px;
    margin: 0 auto;
}

.wrap__center {
    width: 600px;
    margin: 30px auto;
}

.wrap__inquiry {
    background: white;
    padding: 10px 30px 30px;
    overflow: hidden;
    @include responsive(phoneScreens) {
        padding: 10px 0 30px;
    }
}

.wrap__dl {
    width: 60%;
    // margin: 0 auto;
    float: right;
    dt {
        width: 20%;
        display: inline-block;
        font-size: $font-medium;
        font-weight: $font-light;
        vertical-align: middle;
        text-align: center;
    }
    dd {
        display: inline-block;
        width: 65%;
        // margin-bottom: 20px;
        margin: 10px 0 10px 5%;
        vertical-align: middle;
    }
    @include responsive(mediumScreens) {
        width: 100%;
    }
}

.wrap__half {
    width: 39%;
    margin: 40px 5%;
    position: relative;
}

.wrap__half--center {
    @extend .wrap__half;
    // width: 39%;
    margin: 40px auto;
    // position: relative;
}

.wrap__third {
    width: 74%;
    margin: 40px 2.5%;
    position: relative;
    @include responsive(phoneScreens) {
        width: 95%;
    }
}

.wrap__full {
    @include responsive(mediumScreens) {
        width: 95%;
        margin: 20px 2.5%;
        height: auto;
    }
}

.wrap__none {
    @include responsive(mediumScreens) {
        display: none;
    }
}

.wrap__border {
    border: 10px solid transparent;
    border-image: url(../image/border.png) 30 stretch;
    box-sizing: border-box;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.15);
}

.wrap__border--inquiry {
    @extend .wrap__border;
    width: 900px;
    margin: 30px auto;
    @include responsive(mediumScreens) {
        width: 95%;
    }
}