.g {
    // width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.g--full {
    @extend .g;
    width: 1200px;
    @include responsive(mediumScreens) {
        width: 900px;
    }
    @include responsive(touchScreens) {
        width: 95%;
        margin: 0 2.5%;
    }
}

.g--section {
    @extend .g;
    width: 70%;
    // @include responsive()
    overflow: hidden;
    @include responsive(touchScreens) {
        width: 90%;
    }
}

.wrap {
    height: 80%;
    transform: translate(0px, 100px);
    background: #fff;
    border-radius: 10px;
    box-shadow: (rgba(black, 0.2) 0px 3px 10px);
    padding-top: 50px;
}

.wrap__text {
    width: 50%;
    margin: 0 auto;
    // margin-left: 60%;
    // margin-top: 80px;
}

.wrap__btn {
    width: 300px;
    margin: 0 auto;
}

.wrap__center {
    width: 600px;
    margin: 30px auto;
}

.wrap__inquiry {
    // width: 900px;
    // margin: 30px auto;
    background: white;
    // box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.15);
    // border-radius: 10px;
    padding: 10px 30px 30px;
    overflow: hidden;
}

.wrap__dl {
    // width: 600px;
    dt {
        width: 100px;
        // wid
        // margin-right: 20px;
        display: inline-block;
    }
    dd {
        display: inline-block;
        width: 450px;
        margin-bottom: 20px;
    }
}

.wrap__border {
    border: 10px solid transparent;
    border-image: url(../image/border.png) 30 stretch;
    box-sizing: border-box;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.15);
}

.wrap__border--inquiry {
    @extend .wrap__border;
    width: 900px;
    margin: 30px auto;
}