.font__header {
    color: $color-text;
    font-size: $font-xbig;
    font-weight: $font-light;
    // transform: translate(100px 0px);
    // padding-top: 300px;
}

.font__text {
    font-size: $font-normal;
    color: $color-subtext;
    text-align: left;
}

.font__title {
    font-size: $font-big;
    color: $color-subtext;
    text-align: center;
}

.img {
    // 이 클래스는 이미지의 기본 속성을 정의합니다.
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
}

.img__big {
    // 이 클래스는 이미지의 크기를 조정합니다
    @extend .img;
    width: 400px;
    height: 400px;
    box-shadow: (rgba(black, 0.2) 0px 3px 10px);
}

.form__wrap {
    width: 250px;
    margin: 0 auto 30px;
    position: relative;
    overflow: hidden;
}

.form__label {
    display: block;
    text-align: left;
    position: absolute;
    margin-left: 10px;
}

.form__input {
    width: 100%;
    border: 1px solid black;
    height: 30px;
    margin-top: 20px;
    padding: 0 10px;
    box-sizing: border-box;
}

.form__input-textarea {
    @extend .form__input;
    height: 150px;
}

.form__btn {
    background: #fff;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}