.font__header {
    color: $color-text;
    // font-size: $font-xbig;
    font-weight: $font-light;
    // font-weight: 600;
    font-family: $font-typo;
}

.font__header-big {
    @extend .font__header;
    font-size: $font-xxbig;
    color: white;
    @include responsive(mediumScreens) {
        font-size: $font-xbig;
    }
}

.font__header-big2 {
    @extend .font__header-big;
    // font-size: $font-xxbig;
    color: $color-2;
}

.font__header-big3 {
    @extend .font__header-big;
    // font-size: $font-xxbig;
    color: $color-text;
}

.font__header-sub {
    @extend .font__header;
    color: $color-2;
    font-size: $font-xbig;
    margin: 20px 0;
}

.font__header-sub2 {
    @extend .font__header-sub;
    color: white;
}

.font__header-kor {
    @extend .font__header;
    font-family: $font-alllang;
    font-size: $font-big;
    line-height: 40px;
    margin-top: 30px;
    @include responsive(mediumScreens) {
        font-size: $font-mobile;
        line-height: 26px;
        margin-top: 10px;
    }
}

.font__header-small {
    @extend .font__header;
    color: $color-2;
    font-size: $font-big;
    // font-weight: $font-bold;
    margin: 35px auto 15px;
    text-align: center;
}

.font__text {
    font-size: $font-normal;
    color: $color-text;
    line-height: 24px;
    text-align: left;
    box-sizing: border-box;
    background: white;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    p {
        margin-bottom: 20px;
    }
}

.font__title {
    font-size: $font-big;
    color: $color-subtext;
    text-align: center;
}

.font--typo2 {
    font-family: $font-typo2;
}

.border {
    border-bottom: 1px solid $color-bg;
    height: 1px;
    width: 50%;
    margin: 20px auto 50px;
}

.img {
    // 이 클래스는 이미지의 기본 속성을 정의합니다.
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
}

.img__big {
    // 이 클래스는 이미지의 크기를 조정합니다
    @extend .img;
    width: 400px;
    height: 400px;
    box-shadow: (rgba(black, 0.2) 0px 3px 10px);
}

.form__group {
    width: 100%;
    // margin-top: 100px;
    // padding-top: 50px;
}

.form__wrap {
    width: 250px;
    display: inline-block;
    margin: 0 10px 15px;
    position: relative;
    // overflow: hidden;
    // background: white;
}

.address__wrap {
    @extend .form__wrap;
    text-align: left;
    height: 250px;
    width: 32%;
    margin-left: 0;
    margin-right: 2%;
    float: left;
    &:last-child {
        margin-right: 0;
    }
    @include responsive(mediumScreens) {
        width: 100%;
        height: 170px;
    }
}

.form__wrap2 {
    @extend .form__wrap;
    width: 522px;
}

.form__wrap3 {
    @extend .form__wrap;
    width: 800px;
}

.form__label {
    display: block;
    text-align: left;
    position: absolute;
    // margin-left: 10px;
    color: $color-subtext;
    top: 0;
    transition: all 0.3s;
    font-weight: $font-light;
}

.form__input {
    width: 100%;
    // border: 0 solid rgba($color-8, 0.7);
    border: 1px solid $color-border;
    height: 40px;
    margin-top: 25px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 3px;
    // box-shadow: 0px;
    // box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    transition: all 0.3s;
    font-size: $font-mobile;
    &:focus {
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid $color-9;
        &+label {
            // color: white;
            // color: $color-9;
        }
    }
    &:active {
        &+label {
            // color: white;
            // color: $color-9;
        }
    }
}

.form__input-textarea {
    @extend .form__input;
    height: 150px;
    padding-top: 5px;
}

.form__select {
    background: url('../image/arrow.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
}

.form__btn {
    background: #fff;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.rounds {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 50%;
    // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-image: linear-gradient(120deg, transparent 0%, rgba(#fdfbfb, 0.2) 100%);
    // z-index: -1;
}